:root {
  --dse-base-color: #004d00;
  --dse-base-color-hover: #008000;
  --dse-base-color-light: #f5faf5;
  --dse-base-color-dark: #d6dbd6;
}

html {
  scroll-behavior: smooth;
}

/* needed for interactive map in listplace.xsl */
div#map {
  height: 50vh;
}

/** Match bootstrap navlink focus outline color. */
:focus-visible, :is(.nav-link, .btn):focus-visible {
  outline: 3px solid var(--dse-base-color) !important;
  box-shadow: none !important;
  border-radius: 1px;
}
.btn:focus-visible {
  outline-offset: 2px;
}

.border, .border-end, .border-start, .border-top, .border-bottom, .border-left, .border-right {
  border-color: var(--dse-base-color) !important;
}

header {
  border-bottom: solid;
  border-bottom-color: var(--dse-base-color);
}
a {
  color: var(--dse-base-color);
}

a:hover {
  color: var(--dse-base-color-hover);
}
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar {
  padding: 0 !important
}

.btn-primary {
  --bs-btn-bg: var(--dse-base-color);
  --bs-btn-hover-bg: var(--dse-base-color-hover);
}

.btn-outline-primary {
  --bs-btn-color: var(--dse-base-color);
  --bs-btn-border-color: var(--dse-base-color);
  --bs-btn-hover-bg: var(--dse-base-color);
  --bs-btn-hover-border-color: var(--dse-base-color);
  --bs-btn-active-bg: var(--dse-base-color);
  --bs-btn-active-border-color: var(--dse-base-color);
}


/* Default: full width on small screens */
.custom-width {
    width: 100%;
}

.search-width {
    width: 85%;
}

/* 75% width on large screens (992px and up) */
@media (min-width: 2400px) {
    .custom-width {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
}

.card-body {
  background-color: var(--dse-base-color-light);
  color: var(--dse-base-color)
}

code {
  font-size: 0.875em;
  color: var(--dse-base-color);
  background-color: aliceblue;
  word-wrap: break-word;
}

.pagebreak {
  position: relative;
  bottom: -0.2em;
  font-weight: bold;
  color: var(--dse-base-color);
}

button.entity {
  background: none;
  border: none;
  padding: 0;
  margin: 0 0.1em;
  font: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
  text-decoration: dotted underline;
  text-underline-offset: 4px;
}

button.highlight {
  background-color: var(--dse-base-color);
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.highlight {
  background-color: var(--dse-base-color);
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

dd {
  margin-left: 1rem;
}

.footerlogo {
  height: 60px;
}
footer {
  border-top: solid;
  border-color: var(--dse-base-color);
}

main {
  min-height: 800px;
}
footer a {
  text-decoration: underline;
  text-decoration-style: dotted;
  color: var(--dse-base-color);
}

.navbar-logo {
  height: 90px;
}

/* define <hi rend> classes */

.dse-sup {
  position: relative;
  top: -0.5em;
  font-size: 80%;
}

.dse-u {
  text-decoration: underline;
}

.dse-uu {
  text-decoration-line: underline;
  text-decoration-style: double;
}

.dse-i {
  font-style: italic;
}
.dse-it {
  font-style: italic;
}


.tei-p {
  text-indent: 1em;
  margin-bottom: 0.2rem;
}

.tei-p-no-indent {
  margin-bottom: 0.2rem;
}

.tei-authorship {
  text-align: end;
}

.tei-title {
  padding: 0.5rem;
}

.painting-figure img {
  max-width: 100%;
  max-height: 600px;     /* pick a sensible cap */
  height: auto;
  width: auto;
  display: block;
}

/* Algolia search */

.ais-Hits-item {
  border-radius: 0.25rem;
}

.ais-Hits-item:hover {
  background-color: var(--dse-base-color-light);
}

.ais-Panel-header {
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.ais-Panel-collapseButton {
  z-index: 20;
  inset: 0;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.ais-ClearRefinements .ais-ClearRefinements-button {
  background: var(--dse-base-color);
  color: white; 
  font-weight: bold;
}

.ais-ClearRefinements .ais-ClearRefinements-button:hover {
  background: var(--dse-base-color-hover);
}

.ais-CurrentRefinements .ais-CurrentRefinements-list .ais-CurrentRefinements-item {
  background: var(--dse-base-color);
  color: white; 
  font-size: medium;
}

.ais-CurrentRefinements-category .ais-CurrentRefinements-delete:hover {
  color: red
}

.ais-ClearRefinements-button--disabled {
	 visibility: hidden;
}

.ais-Pagination-list .ais-Pagination-item .ais-Pagination-link {
  background-color: var(--dse-base-color-light);
  color: var(--dse-base-color);
}

.ais-Pagination .ais-Pagination-list .ais-Pagination-item:hover .ais-Pagination-link {
  background-color: var(--dse-base-color-light);
  color: var(--dse-base-color);
  font-weight: bold;
}

.ais-Pagination-list .ais-Pagination-item--selected .ais-Pagination-link  {
  background-color: var(--dse-base-color);
  color: white;
  font-weight: bold;
  border-color: var(--dse-base-color);
}

.ais-RefinementList .ais-RefinementList-showMore {
  background-color: var(--dse-base-color);
  color: white;
}

.ais-RefinementList .ais-RefinementList-showMore:hover {
  background-color: var(--dse-base-color-hover);
  color: white;
}

.ais-SearchBox-form .ais-SearchBox-input:focus-visible {
   outline: 0;
  box-shadow: 0 0 0 0.25rem var(--dse-base-color);
}

.ais-RefinementList-showMore--disabled {
   visibility: hidden;
}

.sticky-sidebar {
  position: sticky; 
  top: 20px; 
  max-height: calc(100vh - 40px); 
  overflow-y: auto
}

.tabulator-tableholder .tabulator-table .tabulator-row-even {
  background-color: var(--dse-base-color-light);
}
.tabulator-tableholder .tabulator-table .tabulator-row,
.tabulator-col-content {
  transition: background-color .12s ease;
}

.tabulator-tableholder .tabulator-table .tabulator-row:hover,
.tabulator-col-content:hover {
  background-color: var(--dse-base-color-dark);
}

#myTable {
  border: solid 1px lightgray;
  border-radius: 5px;
}