:root {
  --dse-base-color: #850196;
  --dse-base-color-hover: #b417c9;
  --dse-base-color-light: #f9f5fada;
}

/* needed for interactive map in listplace.xsl */
div#map {
  height: 50vh;
}

/** Match bootstrap navlink focus outline color. */
:focus-visible, :is(.nav-link, .btn):focus-visible {
  outline: 3px solid var(--dse-base-color) !important;
  box-shadow: none !important;
  border-radius: 1px;
}
.btn:focus-visible {
  outline-offset: 2px;
}

header {
  border-bottom: solid;
  border-bottom-color: var(--dse-base-color);
}
a {
  color: var(--dse-base-color);
}

a:hover {
  color: var(--dse-base-color-hover);
}
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.btn-primary {
  --bs-btn-bg: var(--dse-base-color);
  --bs-btn-hover-bg: #b417c9;
}

.btn-outline-primary {
  --bs-btn-color: var(--dse-base-color);
  --bs-btn-border-color: var(--dse-base-color);
  --bs-btn-hover-bg: var(--dse-base-color);
  --bs-btn-hover-border-color: var(--dse-base-color);
  --bs-btn-active-bg: var(--dse-base-color);
  --bs-btn-active-border-color: var(--dse-base-color);
}

code {
  font-size: 0.875em;
  color: var(--dse-base-color);
  background-color: aliceblue;
  word-wrap: break-word;
}

.pagebreak {
  position: relative;
  bottom: -0.2em;
  font-weight: bold;
  color: var(--dse-base-color);
}

button.entity {
  background: none;
  border: none;
  padding: 0;
  margin: 0 0.1em;
  font: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
}

button.highlight {
  background-color: var(--dse-base-color);
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.highlight {
  background-color: var(--dse-base-color);
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

dd {
  margin-left: 1rem;
}

.footerlogo {
  height: 60px;
}
footer {
  border-top: solid;
  border-color: var(--dse-base-color);
}

main {
  min-height: 800px;
}
footer a {
  text-decoration: underline;
  text-decoration-style: dotted;
  color: var(--dse-base-color);
}

/* define <hi rend> classes */

.dse-sup {
  position: relative;
  top: -0.5em;
  font-size: 80%;
}

.dse-u {
  text-decoration: underline;
}

.dse-uu {
  text-decoration-line: underline;
  text-decoration-style: double;
}

.dse-i {
  font-style: italic;
}
.dse-it {
  font-style: italic;
}


.tei-p {
  text-indent: 1em;
  margin-bottom: 0.2rem;
}

.tei-p-no-indent {
  margin-bottom: 0.2rem;
}

.tei-authorship {
  text-align: end;
}

.tei-title {
  padding: 0.5rem;
}

/* Algolia search */

.ais-Hits-item {
  border-radius: 0.25rem;
}

.ais-Hits-item:hover {
  background-color: var(--dse-base-color-light);
}

.ais-Panel-header {
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.ais-Panel-collapseButton {
  z-index: 20;
  inset: 0;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.ais-ClearRefinements .ais-ClearRefinements-button {
  background: var(--dse-base-color);
  color: white; 
  font-weight: bold;
}

.ais-ClearRefinements .ais-ClearRefinements-button:hover {
  background: var(--dse-base-color-hover);
}

.ais-CurrentRefinements .ais-CurrentRefinements-list .ais-CurrentRefinements-item {
  background: var(--dse-base-color);
  color: white; 
  font-size: medium;
}

.ais-CurrentRefinements-category .ais-CurrentRefinements-delete:hover {
  color: red
}

.ais-ClearRefinements-button--disabled {
	 visibility: hidden;
}

.ais-Pagination-list .ais-Pagination-item .ais-Pagination-link {
  background-color: var(--dse-base-color-light);
  color: var(--dse-base-color);
}

.ais-Pagination .ais-Pagination-list .ais-Pagination-item:hover .ais-Pagination-link {
  background-color: var(--dse-base-color-light);
  color: var(--dse-base-color);
  font-weight: bold;
}

.ais-Pagination-list .ais-Pagination-item--selected .ais-Pagination-link  {
  background-color: var(--dse-base-color);
  color: white;
  font-weight: bold;
  border-color: var(--dse-base-color);
}

.ais-RefinementList .ais-RefinementList-showMore {
  background-color: var(--dse-base-color);
  color: white;
}

.ais-RefinementList .ais-RefinementList-showMore:hover {
  background-color: var(--dse-base-color-hover);
  color: white;
}

.ais-SearchBox-form .ais-SearchBox-input:focus-visible {
   outline: 0;
  box-shadow: 0 0 0 0.25rem var(--dse-base-color);
}

.sticky-sidebar {
  position: sticky; 
  top: 20px; 
  max-height: calc(100vh - 40px); 
  overflow-y: auto
}